
<app-banner [banner_ttl] = "banner_title"></app-banner>

<div class="container" id="main_content">
  <div class="row bx0">
    <div class="col-md-6">
      <p>
        <span>W</span>e at Innovative India Technology have developed our core competence by aligning objectives at all levels so as to realize synergy in operations. Our Core Values have shaped the culture and defined the character of our company, guiding how we behave and make decisions:
      </p>
    </div>
    <div class="col-md-6"> 
      <p> <span>W</span>e value the individual, uphold the right to express disagreement, and respect the time and efforts of others. Nurture fairness, trust and respect; Valuing diversity, ensuring an interesting and inclusive environment, and treating people as we would like to be treated ourselves.</p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="bx1">
          <i class="fa fa-cubes"></i>
          <h3>Customer First</h3>
          <p>We respond to customers speedily, courteously and effectively.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="bx">
          <i class="fa fa-heart"></i>
          <h3>Client Value</h3>
          <p>Creation Improving our clients’ business performance, creating long-term, win-win relationships and focusing on execution excellence.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="bx">
          <i class="fa fa-hashtag"></i>
          <h3>Quality focus</h3>
          <p>We make quality a value driver in our work, our products and our interactions. Do it First Time Right.</p>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4">
      <div class="bx">
          <i class="fa fa-rocket"></i>
          <h3>Integrity</h3>
          <p> Inspiring trust by taking responsibility, acting ethically, and encouraging honest and open debate.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="bx">
          <i class="fa fa-bolt"></i>
          <h3>Professionalism</h3>
          <p>We impart freedom and the opportunity to excel and to grow; support innovation and well-reasoned risk taking, demanding performance.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="bx">
          <i class="fa fa-bookmark"></i>
          <h3>Best People</h3>
          <p>Attracting and developing the best talent for our business, stretching our people and developing a “can do” attitude.</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  
 

</div>

<app-footer></app-footer>
