#main_content { text-align: justify }
#main_content .row img { width: 100%; }

#main_content .row {
    margin-bottom: 10px;
}
#main_content .row > .col-sm-4 {
    text-align: center;
}
#main_content .row .col-sm-4:hover {
    -webkit-box-shadow: 2px -1px 31px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -1px 31px -4px rgba(0,0,0,0.75);
    box-shadow: 2px -1px 31px -4px rgba(0,0,0,0.75);
    transition: .5s ease;
}

#main_content .row > .col-sm-4 .bx1 {
    margin-top: 20px;
}
#main_content .row  > .col-sm-4 i {
    font-size: 118px;
    margin: 14px;
} 
#main_content .row  > .col-sm-4 i,
#main_content .row  > .col-sm-4 p,
#main_content .row .col-md-6 > p
 {
    color: #616161
}
#main_content .row > .col-sm-4 h3 { color: #505050 }
#main_content .row .col-md-6 p > span {
    color: #ca1c14;
    font-size: 25px;
}
#main_content .bx0 {
    border-bottom: 1px solid #505050;
    border-top: 1px solid #505050;
    padding: 20px 0;
}
