#footer_div {
    background: white;
    margin: 0;
    padding: 35px 25px;
    margin-top: 25px;
    border-top: 1px solid #fbf3f3;
}
#footer_div p { margin-bottom: 0; color: #616161; }
#footer_div hr {
    width: 80%;
    border: 1px solid;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 15px;
}