<div class="row" id="footer_div">
  <div class="col-md-3">
    <div class="row">
      <h3><i class="fa fa-map"></i> LOCATION</h3>
      <hr>
      <p>S105/5A Second Floor Yashwant Plaza</p>
      <p>Indore, MP, IN 452001</p>
    </div>
  </div>
  <div class="col-md-3">
    <h3><i class="fa fa-phone"></i> CONTACT NO.</h3>
    <hr>
    <p>+91-9424705205</p>
  </div>
  <div class="col-md-3">
    <h3><i class="fa fa-envelope"></i> E-MAIL</h3>
    <hr>
    <p>info@innovativeindiatechnology.com</p>
    <p>aaryamans@gmail.com</p>
  </div>
  <div class="col-md-3">
    <h3><i class="fa fa-calendar"></i> SERVICE HOURS</h3>
    <hr>
    <p>24X7(HOURS)</p>
  </div>
</div>
