<nav>
  <div class="navbar_bx" ccconscrollmanu>
    <div class="cl brand">
      <a routerLink="/">
        <img src="assets/logo.png" alt="image logo">
      </a>
    </div>
    <div class="cl menu_bx">
      <ul>
        <li routerLink="/"><a>Home </a></li>
        <li><a>About Us <i class="fa fa-angle-down"></i> </a>
          <ul>
            <li><a routerLink="about-us/mission-and-vision">Mission & Vision</a></li>
            <li><a routerLink="about-us/core-value">Core Value</a></li>
            <li><a routerLink="about-us/philosophy">Philosophy</a></li>
            <li><a routerLink="about-us/advantage">Advantage</a></li>
            <li><a>Methodology</a></li>
            <li><a>Commitment</a></li>
          </ul>
        </li>
        <li><a>Services </a></li>
        <li><a>Training </a></li>
        <li><a>Careers </a></li>
        <li><a>Blogs </a></li>
        <li><a>Contact Us </a></li>
      </ul>
    </div>
  </div>
</nav>