#slider_wrap {
  position: absolute;
  width: 100%; height: 100%;
  overflow: hidden;
  background: black;
}

.item {
  height: 100%;
  position: relative;
  float: left;
  overflow: hidden;
  background-position: center;
  opacity: 0;
}

#buttons {
  position: absolute;
  bottom: 10%; left: 45%;
}

#slider_wrap .item1 {
  background-image: url(/assets/images/slider/banner4.jpg);
  background-size: 120% 150%;
}
#slider_wrap .item2 {
  background-image: url(/assets/images/slider/s6.jpg);
  background-size: 110% 150%;
}
#slider_wrap .item3 {
  background-image: url(/assets/images/slider/laptop1.png);
  background-size: 130%;
}
#slider_wrap .item4 {
  background-image: url(/assets/images/slider/s11.jpg);
  background-size: 120%;
}
.item1 img {
  position: absolute;
  right: 10%; top: 10%;
}
#slider_wrap .item1 .img1 {
  position: absolute;    
  top: 43%; left: -16%;
  width: 700px;
}
#buttons .button {
  visibility: hidden;
}
#buttons label {
  width: 20px; height: 20px;
  position: relative;
  border: 2px solid #c693dc;
  border-radius: 50%;
  background: transparent;
  transition: all .5s;
}
#buttons input[type='radio']:checked + label::after {
  content: '';
  position: absolute;
  top: 19%; left: 50%;
  background: #dac1e4;
  height: 10px; width: 10px;
  border-radius: 50%;
  transform: translate(-50%);
  transition: all .5s;
}
#buttons label:hover {
  box-shadow: 0 0 15px #5a5ac5;
  transition: box-shadow .5s;
}

/* #slider_wrap .item1 .content{
  position: absolute;
  top: 36%; left: 50px;
  width: 800px;
  color: white;
} */
#slider_wrap .item1 .content h1 {
  font-size: 55px;
}

#slider_wrap .item2 .img1 {
  position: absolute;
  top: 18%; right: 5%;
  width: 47%;
}
#slider_wrap .item2 .img2 {
  position: absolute;    
  top: 11%; left: 19%;
}
#slider_wrap .item1 .content {
  width: 65%;
  position: absolute;
  top: 30%; right: 5%;
  color: white;
}
#slider_wrap .item2 .content {
  width: 50%;
  position: absolute;
  top: 35%; left: 5%;
  color: white;
}
#slider_wrap .item2 h1 {  color: #ca1c14 }
#slider_wrap .item3 .img1 {
  width: 67%;
  position: absolute;
  bottom: -10%; right: 10%;
}
#slider_wrap .item3 .content {
  width: 50%;
  position: absolute;
  top: 35%; right: 5%;
  color: white;
}
#slider_wrap .item4 .img1 {
  position: absolute;
  top: 15%; right: 15%;
}
#slider_wrap .item4 .content {
  position: absolute;
  top: 40%;left: 18%;
  color: white;
}