<div id="banner" >
    <div class="banner_div">
        <div class="content">
            <h1>ADVANTAGE</h1>
            <p>
                We aim at maintaining our good name and high quality of our work. We are proud of the 
                projects that we’ve already accomplished, and are always open for new ideas and ways of 
                improving our client’s business. 
            </p>
        </div>
    </div>
</div>
<div class="container" id="scnd_head">
    <h4>ABOUT-US</h4>
    <h1>ADVANTAGE</h1>
    <i class="fa fa-ellipsis-h"></i>
</div>

<div class="container">
    
    <div class="row bx1">
      <div class="col-md-6">
        <p>
            <span>W</span>e at Innovative India Technology have built our business by working with clients to 
            ensure the solutions we develop are profitable for them. We are committed to providing 
            you with the most professional and specialized solutions you can get. The partnership 
            with Innovative India Technology allows you to focus on your core business. 
        </p>
      </div>
      <div class="col-md-6">
          <p>
             <span>M</span>ore than that, we strive each and every time to give you the most for your investment. Our forte 
              is to take your requirement, apply our understanding of technology and propose innovative 
              & technical features and enhancements that help you to achieve your goals – while taking 
              into account commercial considerations & time frame with high level of communication and 
              support.
          </p>
      </div>
    </div>
<br>
<br>
<br>

<!-- <div class="row">
    <div class="col-sm-4" style="background-image: url(/assets/images/slider/s4.jpg)">
        <div class="bx">
            <div class="inner">
                <p>
                    
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="background-image: url(/assets/images/slider/s5.jpg)">
        <div class="bx">
            <div class="inner">
                <p>
                    
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">       
        <div class="bx">
            <h1></h1>
            <p></p>
        </div>
    </div>
</div> -->
</div>

<div class="container">
    <h3 class="scnd_h">We all provide/help you to get the following competitive advantages:</h3>
</div>
<div class="row" id="tab">
    <div class="col-sm-3" style="background-image: url(/assets/images/slider/s1.jpg)">
        <div class="bx">
            <div class="inner">
                <i class="fa fa-thumbs-up"></i>
                    <p>
                        We are interested in the success of our client. We look for sharing his risks via 
                        delivering seamless and reliable workflow.
                    </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3" style="background-image: url(/assets/images/slider/s2.jpg)">
        <div class="bx">
            <div class="inner">
                <i class="fa fa-bolt"></i>
                <p>
                    Innovative approach- If the client’s requirements are complex, we undertake R&D 
                    activities while preparing our technical proposal.
                </p>
            </div>
            
        </div>
    </div>
    <div class="col-sm-3" style="background-image: url(/assets/images/slider/s3.jpg)">
        <div class="bx">
            <div class="inner">
                <i class="fa fa-bullseye"></i>
                <p>
                    Innovative India Technology is able to tap a vast pool of specialized technical labor 
                    much cheaper than it is possible in other places. 
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3" style="background-image: url(/assets/images/slider/s4.jpg)">
        <div class="bx">
            <div class="inner">
                <i class="fa fa-asterisk"></i>
                <p>
                    Our main goal is to make your business successful; we believe that’s the only 
                    way that will benefit both us and you.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row" id="sctn">
    <div class="col-md-6 c_bx">

    </div>
    <div class="col-md-6">
        <div class="head">
            <h3>We Understand.</h3>
            <h1>effective communication</h1>
            <i class="fa fa-star first"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
        </div>
        <p>
                Poor communication process is sometimes regarded as one of the main shortcomings. 
                We do understand that effective communication with you is essential to clear understanding 
                of your needs and therefore to deliver the service that would satisfy your expectations. 
                We use all means of modern technology to keep communication on the highest level. Most of 
                our communication is done through phone and emails, and if you require, our representative 
                can meet you in person. We are always there for you, whatever concerns or questions you 
                might have.
                Our team includes specialists, well-trained in their respective fields that work together under the guidance of 
                experienced project managers in order to deliver the best solution to your project.
        </p>
    </div>
</div>

<app-footer></app-footer>