<app-navbar></app-navbar>
<!-- <app-header></app-header> -->
<div id="banner">
  <div class="banner_div">
    <h1>Mission & Vision</h1>
  </div>
</div>
<div class="container" id="scnd_head">
  <h4>ABOUT-US</h4>
  <h1>MISSION AND VISION</h1>
  <i class="fa fa-ellipsis-h"></i>
</div>
<!-- content area -->
<div class="row content">
  <div class="col-md-6 bx1">
    <br>
    <br>
    <br>
    <h3>ABOUT-US</h3>
    <h1>MISSION & VISION</h1>
    <p>Our Mission is to Provide Information Technology solutions globally, 
      enhancing competitive advantage of customers, founded on contemporary technologies, 
      and practices, innovation, empowered people and enduring relationships.</p>
    <p>
        Our Vision is to develop a strong Client base with an equally effective Support structure which acts as a catalyst 
        for effective deployment of futuristic complete and credible IT solutions. We strive to achieve this by focusing 
        individually on each project and build a healthy relationship with our Customers. We understands that in order to 
        realize this vision and mission and become a top-tier consulting and technology services company, 
        we need to achieve industry leading benchmarks in corporate governance, delivery excellence and employee satisfaction.
    </p>
  </div>
  <div class="col-md-6 bx2"></div>
</div>
<app-footer></app-footer>
