
<app-banner [banner_ttl] = "banner_title"></app-banner>

<div class="row">
    <div class="col-md-6">
        <img src="assets/images/slider/s12.jpg" alt="image" />
    </div>
    <div class="col-md-6">
        <div class="bx1">
                
                <p>
                    At the core of the Company philosophy lies its focus on customer centric and the goal 
                    of ensuring your delight at all times through innovative solutions and services, thereby 
                    fulfilling the role of a responsible service provider, committed to best practices. 
                </p>
                <p>
                    The business philosophy of the company is to lay emphasis on Human Values and Personal 
                    Relations. Great stress is laid on proper communication, transparency and human relations, 
                    which forms an integral part of the corporate culture. At Innovative India Technology, we 
                    not only develop products but we develop relationships.
                </p>
                <p>
                    With every new day the quest for acquiring new competencies continues. Forever searching, experimenting, innovating, 
                    learning, moving ahead with our sincere efforts and dedication, shaping the future, 
                    and challenging our competencies to create new opportunities, is a never-ending process in 
                    the company.
                </p>
        </div>
    </div>
</div>

<app-footer></app-footer>
